<h1> New Users Page </h1>

<%= form_for @user do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %> <br>
    <%= f.label :password %> 
    <%= f.password_field :password %> <br>

    <%= f.label :user_type %>
    <%= f.text_field :user_type %> <br>
    <%= f.submit "Create Account" %>
<% end %>