<h1> New Users Page </h1>

<%= form_for @user do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %> <br>
    <%= f.label :password %> 
    <%= f.password_field :password %> <br>

    <%= f.collection_radio_buttons(:user_type, [['Professor', 'professor'], ['Student', 'student'], ['Grad Student', 'grad_student']], :second, :first) %><br>
    <%= f.submit "Create Account" %>
<% end %>