<h2>Edit Existing Opportunity</h2>
<%= form_tag opportunities_path(@opportunity), :method => :put do %>
  <%= label :research_opportunity, :title, 'Title', class: 'col-form-label' %>
  <%= text_field :research_opportunity, 'title', class: 'form-control' %>
  <%= label :research_opportunity, :position, 'Position', class: 'col-form-label' %>
  <%= text_field :research_opportunity, 'position', class: 'form-control' %>
  <%= label :research_opportunity, :description, 'Description', class: 'col-form-label' %>
  <%= text_area :research_opportunity, 'description', class: 'form-control', rows: 3 %>
  <%= label :research_opportunity, :start_date, 'Start Date', class: 'col-form-label' %>
  <%= date_select :research_opportunity, :start_date, {}, class: 'form-control col-2 d-inline' %>
  <%= label :research_opportunity, :end_date, 'End Date', class: 'col-form-label' %>
  <%= date_select :research_opportunity, :end_date, {}, class: 'form-control col-2 d-inline' %>
  <br/>
  <%= submit_tag 'Create Research Opportunity', class: 'btn btn-primary' %>
  <%= link_to 'Cancel', opportunities_path, class: 'btn btn-secondary' %>
<% end %>