<!--  This file is app/views/opportunities/index.html.erb -->
<h3> Welcome back <%= @user_info.user_type.capitalize %> <%= @user_info.username %>. </h3>
<h2>All Opportunities</h2>

<%= form_tag(opportunities_path, method: "get", class: "form-inline my-4") do %>
  <div class="form-group">
    <label for="professor_name">Filter by Professor: </label>
    <%= text_field_tag :professor_name, params[:professor_name], placeholder: "Professor's Name", class: "form-control ml-2" %>
  </div>
  <%= submit_tag "Filter", class: "btn btn-primary ml-3" %>
<% end %>

<table class="table table-striped col-md-12" id="opportunities">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Professor</th>
      <th> Duration </th>
      <th>Capacity</th>
      <th>More Info</th>
    </tr>
  </thead>
  <tbody>
    <% @opportunities.each do |opportunity| %>
      <tr>
        <td>
          <%= opportunity.title %>
        </td>
        <td>
          <%= opportunity.description %>
        </td>
        <td>
          <% if opportunity.contact.present? && opportunity.professor_name.present? %>
            <%= link_to "#{opportunity.professor_name}", "mailto:#{opportunity.contact}?subject=Regarding #{opportunity.title}&body=Hello Professor #{opportunity.professor_name},%0A%0A" %>
          <% end %>
        </td>
        <td><%= opportunity.duration %></td>
        <td><%= opportunity.capacity %></td>
        <td><%= link_to "More about #{opportunity.title}", opportunity_path(opportunity) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @user_info.user_type == 'professor' %>
  <%= link_to 'Add new opportunity', new_opportunity_path, class: 'btn btn-primary' %>
<% end %>
