<h2>Create New Opportunity</h2>

<%= form_tag opportunities_path, class: 'form' do %>
  <%= label :research_opportunity, :title, 'Title', class: 'col-form-label' %>
  <%= text_field :research_opportunity, 'title', class: 'form-control' %>

  <%= label :research_opportunity, :professor_name, 'Professor', class: 'col-form-label' %>
  <%= text_field :research_opportunity, 'professor_name', class: 'form-control' %>

  <%= label :research_opportunity, :department, 'Deparment', class: 'col-form-label' %>
  <%= text_field :research_opportunity, 'department', class: 'form-control' %>

  <%= label :research_opportunity, :description, 'Description', class: 'col-form-label' %>
  <%= text_field :research_opportunity, 'description', class: 'form-control' %>

  <%= label :research_opportunity, :contact, 'Contact', class: 'col-form-label' %>
  <%= text_field :research_opportunity, 'contact', class: 'form-control' %>

  <%= label :research_opportunity, :requirements, 'Requirements', class: 'col-form-label' %>
  <%= text_field :research_opportunity, 'requirements', class: 'form-control' %>

  <%= label :research_opportunity, :duration, 'Duration', class: 'col-form-label' %>
  <%= text_field :research_opportunity, 'duration', class: 'form-control' %>

  <%= label :research_opportunity, :capacity, 'Capacity', class: 'col-form-label' %>
  <%= number_field :research_opportunity, 'capacity', class: 'form-control' %>

  <br/>
  <%= submit_tag 'Create Research Opportunity', class: 'btn btn-primary' %>
  <%= link_to 'Cancel', opportunities_path, class: 'btn btn-secondary' %>
<% end %>